<!doctype html>
<html lang="pt-br">

<!--Insere a fragment do cabeçalho-->

<head th:replace="~{fragments/_header :: header('Conexão 360 - Home')}"></head>


<body>
	<!--Insere a fragment da navbar-->
	<nav th:replace="~{fragments/admin/_navbarAdmin :: navbar(${isLogged}, ${usuarioNavbar}, ${isAdmin})}"></nav>

	<main class="container d-flex flex-column">

		<div class="p-5 mb-4 bg-light rounded-3">
			<div class="mb-1 p-1 bg-light">
				<h5 class="fw-bold">Filtrar:</h5>
				<form th:action="@{/admin/filtrarRequisicaoLista}" method="post" th:object="${filtro}">
					<div class="row justify-content-md-center">
						<div class="col-md-auto">
							<p for="estadoRequisicao" class="form-label">Doações:</p>
						</div>
						<div class="col-md-auto">
							<select class="form-select" th:field="*{estadoRequisicao}">
								<option value="all" selected>Todas</option>
								<option value="0">Disponível para doação</option>
								<option value="1">Equipamento doado</option>
							</select>
						</div>
						<div class="col-md-auto align-middle">
							<p for="tipoEquipamento" class="form-label">Tipo Equipamento:</p>
						</div>
						<div class="col-md-auto">
							<select class="form-select" th:field="*{tipoEquipamento}">
								<option value="all" selected>Todos</option>
								<option value="1">Computador</option>
								<option value="2">Notebook</option>
								<option value="3">Smartphone</option>
							</select>
						</div>
						<div class="col">
							<input type="submit" class="btn btn-primary " value="Filtrar">
						</div>
					</div>

				</form>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Doação</th>
						<th scope="col">ID Usuario</th>
						<th scope="col">Nome Usuario</th>
						<th scope="col">Tipo Equipamento</th>
						<th scope="col">Estado Equipamento</th>
						<th scope="col">Tipo Entrega</th>
						<th scope="col">Data Coleta</th>
						<th scope="col">Entregue</th>
						<th scope="col">Doado</th>
						<th scope="col">Comentário</th>
						<th scope="col">Cancelar</th>
					</tr>
				</thead>
				<tr th:each="doacaoEquipamento : ${doacoes}">
					<td th:text="${doacaoEquipamentoStat.index+1}"></td>
					<td th:text="${doacaoEquipamento.usuario.id}"></td>
					<td th:text="${doacaoEquipamento.usuario.nome}"></td>
					<td th:switch="${doacaoEquipamento.tipoEquipamento}">
						<a th:case="'1'">Computador</a>
						<a th:case="'2'">Notebook</a>
						<a th:case="'3'">Smartphone</a>
					</td>
					<td th:switch="${doacaoEquipamento.estadoEquipamento}">
						<a th:case="'1'">Novo</a>
						<a th:case="'2'">Pouco Uso</a>
						<a th:case="'3'">Funcional</a>
						<a th:case="'4'">Com Problemas</a>
					</td>
					<td th:if="${doacaoEquipamento.necessitaRetirada}">
						<a>Necessita Retirada</a>
					</td>
					<td th:if="${!doacaoEquipamento.necessitaRetirada}">
						<a>Entregarei Pessoalmente</a>
					</td>
					<td th:if="${doacaoEquipamento.necessitaRetirada}">
						<a th:text="${doacaoEquipamento.dataColeta}"></a>
					</td>
					<td th:if="${!doacaoEquipamento.necessitaRetirada}">
						<a>N/A</a>
					</td>
					<td th:if="${doacaoEquipamento.equipamentoDisponivel}">
						<a>Entregue, pronto para doação</a>
					</td>
					<td th:if="${!doacaoEquipamento.equipamentoDisponivel}">
						<a>Não entregue</a>
					</td>
					<td th:if="${doacaoEquipamento.equipamentoDoado}">
						<a>Doado</a>
					</td>
					<td th:if="${!doacaoEquipamento.equipamentoDoado}">
						<a>Não doado</a>
					</td>
					<td th:text="${doacaoEquipamento.comentario}"></td>
					<td th:if="${!doacaoEquipamento.equipamentoDoado}">
						<a th:href="@{'/deletarDoacao?id='+${doacaoEquipamento.id}}"
							class="btn btn-danger btn-block mb-4">Cancelar</a>
					</td>
					<td th:if="${doacaoEquipamento.equipamentoDoado}">
						<a>Não é possível cancelar</a>
					</td>
				</tr>
			</table>
		</div>
	</main>
	<footer th:replace="~{fragments/admin/_footerAdmin :: footer}"></footer>
</body>

</html>