<!doctype html>
<html lang="pt-br">

<!--Insere a fragment do cabeçalho-->
<head th:replace="~{fragments/_header :: header('Conexão 360 - Home')}"></head>


<body>
	<!--Insere a fragment da navbar-->
	<nav th:replace="~{fragments/admin/_navbarAdmin :: navbar(${isLogged}, ${usuarioNavbar}, ${isAdmin})}"></nav>
	
	<main class="container d-flex flex-column">
		<div class="p-5 mb-4 bg-light rounded-3">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Doação</th>
						<th scope="col">ID Usuario</th>
						<th scope="col">Nome Usuario</th>
						<th scope="col">Tipo Equipamento</th>
						<th scope="col">Estado Equipamento</th>
						<th scope="col">Tipo Entrega</th>
						<th scope="col">Data Coleta</th>
						<th scope="col">Entregue</th>
						<th scope="col">Doado</th>
						<th scope="col">Comentário</th>
						<th scope="col">Cancelar</th>
					</tr>
				</thead>
				<tr th:each="doacaoEquipamento : ${doacoes}">
					<td th:text="${doacaoEquipamentoStat.index+1}"></td>
					<td th:text="${doacaoEquipamento.usuario.id}"></td>
					<td th:text="${doacaoEquipamento.usuario.nome}"></td>
					<td th:switch="${doacaoEquipamento.tipoEquipamento}">
						<a th:case="'1'">Computador</a>
						<a th:case="'2'">Notebook</a>
						<a th:case="'3'">Smartphone</a>
					</td>
					<td th:switch="${doacaoEquipamento.estadoEquipamento}">
						<a th:case="'1'">Novo</a>
						<a th:case="'2'">Pouco Uso</a>
						<a th:case="'3'">Funcional</a>
						<a th:case="'4'">Com Problemas</a>
					</td>
					<td th:if="${doacaoEquipamento.necessitaRetirada}">
						<a>Necessita Retirada</a>
					</td>
					<td th:if="${!doacaoEquipamento.necessitaRetirada}">
						<a>Entregarei Pessoalmente</a>
					</td>
					<td th:if="${doacaoEquipamento.necessitaRetirada}">
						<a th:text="${doacaoEquipamento.dataColeta}"></a>
					</td>
					<td th:if="${!doacaoEquipamento.necessitaRetirada}">
						<a>N/A</a>
					</td>
					<td th:if="${doacaoEquipamento.equipamentoDisponivel}">
						<a>Entregue, pronto para doação</a>
					</td>
					<td th:if="${!doacaoEquipamento.equipamentoDisponivel}">
						<a>Não entregue</a>
					</td>
					<td th:if="${doacaoEquipamento.equipamentoDoado}">
						<a>Doado</a>
					</td>
					<td th:if="${!doacaoEquipamento.equipamentoDoado}">
						<a>Não doado</a>
					</td>
					<td th:text="${doacaoEquipamento.comentario}"></td>
					<td th:if="${!doacaoEquipamento.equipamentoDoado}">
						<a th:href="@{'/deletarDoacao?id='+${doacaoEquipamento.id}}"
							class="btn btn-danger btn-block mb-4">Cancelar</a>
					</td>
					<td th:if="${doacaoEquipamento.equipamentoDoado}">
						<a>Não é possível cancelar</a>
					</td>
				</tr>
			</table>
		</div>
	</main>
	<footer th:replace="~{fragments/admin/_footerAdmin :: footer}"></footer>
</body>
</html>