<!doctype html>
<html lang="pt-br">

<head th:replace="~{fragmentos/_header :: header('Conexao 360° - Serviço')}"></head>

<body>
	<!-- INÍCIO DA BARRA DE NAVEGAÇÃO -->
	<!--Insere a fragment da navbar-->
	<nav th:replace="~{fragmentos/_navbar :: navbar(${isLogged}, ${usuarioNavbar}, ${isAdmin}, ${notificacoes})}"></nav>
	<!-- FIM DA BARRA DE NAVEGAÇÃO -->
	<!--INICIO CADASTRO CLIENTE -->
	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Inicie o seu Cadastro:</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<form method="POST" th:object="${usuario}" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="nome" class="form-label">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}">
					</div>
					<div class="mb-3">
						<label for="sobrenome" class="form-label">Sobrenome</label>
						<input type="text" class="form-control" id="sobrenome" th:field="*{sobrenome}">
					</div>
					<div class="mb-3">
						<label for="rg" class="form-label">Rg</label>
						<input type="text" class="form-control" id="rg" th:field="*{rg}">
					</div>
					<div class="mb-3">
						<label for="cpf" class="form-label">Cpf</label>
						<input type="text" class="form-control" id="cpf" th:field="*{cpf}">
					</div>
					<div class="mb-3">
						<label for="telefone" class="form-label">Telefone</label>
						<input type="text" class="form-control" id="telefone" th:field="*{telefone}">
					</div>
					<div class="mb-3">
						<label for="estado" class="form-label">Estado</label>
						<input type="text" class="form-control" id="estado" th:field="*{estado}">
					</div>
					<div class="mb-3">
						<label for="cidade" class="form-label">Cidade</label>
						<input type="text" class="form-control" id="cidade" th:field="*{cidade}">
					</div>
					<div class="mb-3">
						<label for="cep" class="form-label">Cep</label>
						<input type="text" class="form-control" id="cep" th:field="*{cep}">
					</div>
					<div class="mb-3">
						<label for="endereco" class="form-label">Endereco</label>
						<input type="text" class="form-control" id="endereco" th:field="*{endereco}">
					</div>
					<div class="mb-3">
						<label for="complemento" class="form-label">Complemento</label>
						<input type="text" class="form-control" id="complemento" th:field="*{complemento}">
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>
		</div>
	</main>
	<!-- FIM DO CADASTRO CLIENTE -->
	<!-- INÍCIO DO FOOTER -->
	<!--Insere a fragment do footer-->
	<footer th:replace="~{fragmentos/_footer :: footer}"></footer>
	<!-- FIM DO FOOTER -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
		crossorigin="anonymous"></script>
</body>

</html>