<!-- Navbar -->
  <footer th:fragment="footer">
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <hr class="light" />
          <h4 class="navbar-brand" href="#"
          ><img src="../../logos/logo_small.png"
        />TripPoint</h4>
          <hr class="light" />
          <p>(99)99999-0000</p>
          <p>daniellessi@gmail.com</p>
          <p>Rua X, 00</p>
          <p>São Paulo, SP, 00000-000</p>
        </div>
        <div class="col-md-4">
          <hr class="light" />
          <h4>Horários</h4>
          <hr class="light" />
          <p>Segunda-Sexta: 08:00 - 18:00</p>
          <p>Sábados e Domingos: 08:00 - 14:00</p>
          <p>Feriados: 08:00 - 12:00</p>
        </div>
        <div class="col-md-4">
          <hr class="light" />
          <h4>Contato</h4>
          <hr class="light" />
          <p>daniellessi@gmail.com</p>
        </div>
        <div class="col-12">
          <hr class="light" />
          <h5>&copy; Daniel de Abreu Lessi</h5>
        </div>
      </div>
    </div>
  </footer>
<!-- Navbar -->