<!-- Navbar -->
<footer class="pt-4 my-md-0 pt-md-2 border-top">
	<div class="row text-light">
		<div class="col-md-4">
			<hr class="light">
			<img src="../img/icones/LogoVertical.png" height="120px">
			<hr class="light">
			<p>0800 4020-8922 / 11 4020-8922</p>
			<p>contato@conexao360.com.br</p>
			<p>Rua Padre Marchetti, 240</p>
			<p>São Paulo - SP, 04262-100</p>
		</div>
		<div class="col-md-4">
			<hr class="light">
			<img src="../img/icones/Relogio.png" height="95px">
			<h5>Horários</h5>
			<hr class="light">
			<p>Segunda-Sexta: 08hs - 18hs</p>
			<p>Sábados e Domingos: 08hs - 14hs</p>
			<p>Feriados: 08hs - 12hs</p>
		</div>
		<div class="col-md-4">
			<hr class="light">
			<img src="../img/icones/Contato.png" height="95px">
			<h5>Contato</h5>
			<hr class="light">
			<p>daniellessi@gmail.com</p>
			<p>dv.lfrancaa@outlook.com</p>
			<p>gabrieldasilvasantos1997@hotmail.com</p>
		</div>
		<div class="col-12">
			<hr class="light" />
			<h5>&copy; SQUAD 034</h5>
		</div>
	</div>
</footer>
<!-- Navbar -->