<!-- Navbar -->
<nav th:fragment="navbar(isLogged, usuario, isAdmin, notificacoes)" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../img/icones/icone.png" />Conexão 360</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
					<a class="nav-link" href="/index">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sobre">Sobre</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contato">Contato</a>
				</li>
            </ul>
            <ul class="navbar-nav">
            <!--Verifica se o usuário está logado -->
            <!--Se não estiver, o menu do usuário é substituido por um link de login -->
            	<li th:if="${!isLogged}" class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
				<!--Se estiver, exibe o menu de usuário -->
                <li th:if="${isLogged}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="'Área do '+ ${usuario.nome}"> Área do Usuário </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    	<li><a class="dropdown-item" href="/usuario/dados">Meus Dados</a></li>
                        <li><a class="dropdown-item" href="/usuario/doacoes">Minhas Doações</a></li>
                        <li><a class="dropdown-item" href="/usuario/requisicoes">Minhas Requisições</a></li>
                        
                        <!--Se o usuário for um administrador, inclui um link para o painél de administrador -->
                        <li th:if="${isAdmin}">
                            <hr class="dropdown-divider">
                        </li>
                        <li th:if="${isAdmin}"><a class="dropdown-item" href="/admin/">Área Admin</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->